<!DOCTYPE html>
<html>
  <head>
    <title>Tweet Analysis</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1>SentiScan</h1>
          <h3>Tweet Analysis</h3>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'graphs' %}">Graphs</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <h2>Sentiment Distribution</h2>

      <div class="chart-container">
        <canvas id="sentimentBarChart"></canvas>
      </div>
      <div class="chart-container">
        <canvas id="sentimentPieChart"></canvas>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        var sentimentData = {{ sentiment_data|safe }};

        // Bar chart
        var ctxBar = document.getElementById('sentimentBarChart').getContext('2d');
        var barChart = new Chart(ctxBar, {
            type: 'bar',
            data: {
                labels: Object.keys(sentimentData),
                datasets: [{
                    label: 'Sentiment Analysis',
                    data: Object.values(sentimentData),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(30,187,16,0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgb(34,222,19)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Pie chart
        var ctxPie = document.getElementById('sentimentPieChart').getContext('2d');
        var pieChart = new Chart(ctxPie, {
            type: 'pie',
            data: {
                labels: Object.keys(sentimentData),
                datasets: [{
                    data: Object.values(sentimentData),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(87,192,75,0.5)'
                    ]
                }]
            }
        });
      </script>
    </div>
  </body>
</html>
